<!DOCTYPE html>
<html>





    <title>Devblog 4 - Physics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, viewport-fit=cover, user-scalable=no">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Physics">
    <meta property="og:locale" content="en_US"/>
       
            <meta name="description" content="Some stuff that I've been working on.  I've given developer access out to a few people. It's been really helpful to see a bunch of bugs to fix and features to add. I was previously working on a..">
        <meta property="og:description" content="Some stuff that I've been working on.  I've given developer access out to a few people. It's been really helpful to see a bunch of bugs to fix and features to add. I was previously working on a..">
        <meta property="twitter:description" content="Some stuff that I've been working on.  I've given developer access out to a few people. It's been really helpful to see a bunch of bugs to fix and features to add. I was previously working on a..">
    <meta property="og:title" content="Devblog 4 - Physics">
    <meta name="twitter:site" content="playphysicsgame">
    <meta name="twitter:creator" content="playphysicsgame">
        <meta property="og:image" content="https://media.discordapp.net/attachments/787462890592534548/832269962705895434/20210413092642_1.jpg">
        <meta name="twitter:image:src" content="https://media.discordapp.net/attachments/787462890592534548/832269962705895434/20210413092642_1.jpg">
        <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="styles.min.css">



    




    

</head>


    <div id="wrapper">

        

        <div id="header">


            <div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                            <a class="navbar-item logo" href="https://angrymoosegames.com/physics/about"><img src="https://cdn.discordapp.com/attachments/786017730092204062/838870573710180428/phys_icon_transparent_white.png"/></a>

                        <span class="navbar-burger burger" id="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div class="navbar-menu" id="nav-menu">
                        <div class="navbar-start">
                            <!-- navbar items -->
                        </div>

                        <div class="navbar-end">
                                <a ng-repeat="" class="navbar-item is-active" href="https://angrymoosegames.com/physics/news">


                                    Blog

                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


                                    Discord

                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://store.steampowered.com/app/1559670/Physics/">


                                    Steam

                                </a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div id="content">
            


    <section class="hero is-fullheight is-dark  has-background has-background-image" style="background-image: url('');">


        <div class="hero-body">
            <div class="container">
                <div class="title is-1">
                    Devblog 4
                </div>
                <div class="subtitle">
                    <p>
                        Some stuff that I've been working on
                    </p>
                    <p class="is-size-7">
                        <i class="mdi mdi-calendar"></i>
                        18 April 2021


                            

                            

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="section blogentry" id="Dev_Access">
        <div class="container content">
            <div class="title"><a href="#Dev_Access">Developer access</a></div>
                <div class="subtitle author"><a href=""></a></div>

<p>I've given developer access out to a few people. It's been really helpful to see a bunch of bugs to fix and features to add. I was previously working on a bunch of features that the game really didn't need, so it's been good to get back on track and work on stuff for both the future players and developers.
</p>


        </div>
    </section>
    <section class="section blogentry" id="Suicide_Barrels">
        <div class="container content">
            <div class="title"><a href="#Suicide_Barrels">Suicide Barrels</a></div>
                <div class="subtitle author"><a href=""></a></div>
            <img src="https://cdn.discordapp.com/attachments/786017730092204062/833097586771623976/20210413090647_1.jpg">

<p>I've been working on a Suicide Barrels gamemode to test AI and ragdolls.</p>

<p>I'm using most code from my deathmatch base, so it's been pretty simple to code.</p>

<p>I'll probably release the code later on, so people can get some more examples of how gamemodes will be made.
    While I was testing I made some bots that just run around and shoot/explode randomly</p>

<video src="https://i.imgur.com/VuR7upw.mp4"></video>
        </div>
    </section>
    <section class="section blogentry" id="Deathmatch">
        <div class="container content">
            <div class="title"><a href="#Deathmatch">Deathmatch</a></div>
                <div class="subtitle author"><a href=""></a></div>
            <img src="https://media.discordapp.net/attachments/787462890592534548/832269962705895434/20210413092642_1.jpg">

<p>Deathmatch is still pretty raw. I've been using it as the base shooter gamemode, but I know there's still a bit of work I need to do on it to make it more deathmatch-y and less devtesting-y.</p>
        </div>
  
    <section class="section blogentry" id="UI_Updates">
        <div class="container content">
            <div class="title"><a href="#UI_Updates">UI Updates</a></div>
                <div class="subtitle author"><a href=""></a></div>
            <p>I made the menu/pause menu UI look much nicer. I also added a load screen and updated the console.</p>

            <h3>Main menu</h3>



<img src="https://cdn.discordapp.com/attachments/786017730092204062/833088364294438922/20210417161508_1.jpg"/>

<h3>Pause menu</h3>

<img src="https://cdn.discordapp.com/attachments/786017730092204062/833088365317586964/20210417161521_1.jpg"/>

<h3>Load screen</h3>

<img src="https://cdn.discordapp.com/attachments/786017730092204062/833088366756233266/20210417161525_1.jpg"/>

<p>Some gamemodes have custom image backgrounds.</p>

<h3>Console</h3>

<img src="https://cdn.discordapp.com/attachments/786017730092204062/838538224191668284/20210502171058_1.jpg"/>

        </div>
  

 


        </div>
    </section>
    <section class="section blogentry" id="Custom_Imports">
        <div class="container content">
            <div class="title"><a href="#Custom_Imports">Custom Imports</a></div>
                <div class="subtitle author"><a href=""></a></div>
            <p>Models from Source, are of course, different sizes and have different bones. For example, mossman is a giant and I had to scale her down to 0.025 to make it look normal. So I've been expirementing with custom asset import sizes.</p>

<p>You'll be able to have a bunch of options to mess around with. You can even leave it as the default import if you want.
</p>
        </div>
 


  








    </div>
</div>
    </div>
</section>
        </div>
        
        <script>
            var forum = new Vue( { el: '#content' } );
        </script>

       

        

    </div>



    <script>
        PageEnd();
    </script>

</body>
</html>
