<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

        <title>Physics</title>
        <meta name="og:title" content="Physics">



    <link rel="icon" href="https://cdn.discordapp.com/attachments/786017730092204062/826859284046282782/JnyUPCnQ2.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.min.css"/>

        <meta name="og:description" content="Physics is in development">
        <meta name="og:image" content="https://cdn.discordapp.com/attachments/786017730092204062/827288147829719060/c7802ce14e04.png">

</head>


  


<div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
                <a class="navbar-item logo" href="https://angrymoosegames.com/physics/about"><img src="https://cdn.discordapp.com/attachments/786017730092204062/838870573710180428/phys_icon_transparent_white.png"/></a>

            <span class="navbar-burger burger" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>

        <div class="navbar-menu" id="nav-menu">
            <div class="navbar-start">
                <!-- navbar items -->
            </div>

            <div class="navbar-end">
                    <a ng-repeat="" class="navbar-item is-active" href="https://angrymoosegames.com/physics/news">


                        Blog

                    </a>
                    <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


                        Discord

                    </a>
                    <a ng-repeat="" class="navbar-item " href="https://store.steampowered.com/app/1559670/Physics/">


                        Steam

                    </a>
            </div>
        </div>
    </div>

</div>



<div class="hero-body"><div class="container"><div class="columns"><div class="column"><img src="https://cdn.discordapp.com/attachments/786017730092204062/838873122056568882/phys_blue_transparent.png" alt="S&amp;boxlogo" class="hero-logo"></div><div class="column"><div class="subtitle is-5 hero-subtitle"><p> My goal with Physics is to be a simple but powerful sandbox game that allows players to create and build gamemodes using C# and HTML, and make it easy to use. You never have to touch C++, and you can hotload your code. </p>

    <p>  The plan is to start giving out keys now, fix most of the bugs and add some small features, then release the game. </p></div></div></div></div></div>





</body>
</html>
