<!DOCTYPE html>
<html lang="en">
    
    
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    
        <meta property="og:title" content="Physics commits">
        <meta property="og:description" content="My goal with Physics is to be a simple but powerful sandbox game that allows players to create and build gamemodes using C# and HTML, and make it easy to use. You never have to touch C++, and you can hotload your code.">
        <meta property="og:image" content="https://cdn.discordapp.com/attachments/786017730092204062/838870573710180428/phys_icon_transparent_white.png">
    
        <meta name="twitter:title" content="Physics commits">
        <meta name="twitter:description" content="My goal with Physics is to be a simple but powerful sandbox game that allows players to create and build gamemodes using C# and HTML, and make it easy to use. You never have to touch C++, and you can hotload your code.">
        <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/786017730092204062/838870573710180428/phys_icon_transparent_white.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="playphysicsgame">
    
        <title>Commits - Physics</title>

    
    
            <link href="styles.min.css" rel="stylesheet">
    
    </head>
    
 

    
           
    
            <div id="app" class=""><div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                            <a class="navbar-item logo" href="https://angrymoosegames.com/physics/about"><img src="https://cdn.discordapp.com/attachments/786017730092204062/838870573710180428/phys_icon_transparent_white.png"/></a>
            
                        <span class="navbar-burger burger" id="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
            
                    <div class="navbar-menu" id="nav-menu">
                        <div class="navbar-start">
                            <!-- navbar items -->
                        </div>
            
                        <div class="navbar-end">
                                <a ng-repeat="" class="navbar-item is-active" href="https://angrymoosegames.com/physics/news">
            
            
                                    Blog
            
                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">
            
            
                                    Discord
            
                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://angrymoosegames.com/physics/commits">
            
            
                                    Commits
            
                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://store.steampowered.com/app/1559670/Physics/">
            
            
                                    Steam
            
                                </a>
                        </div>
                    </div>
                </div>
            
            </div>
                                               
                                                <i class="mdi mdi-open-in-new"></i></span></a></div></div><!----><!----></div></div></div></div></div><div id="content"><div class="page-home pagechange"><span></span><section class="hero page-hero is-dark"><div class="hero-body"><div class="container has-text-centered"><h1 class="title">Commits</h1><span class="subtitle">Commits to the physics-dev repository</span></div></div><!----></section><div class="section loading"><div class="container"><div class="commit-pagination"><nav class="pagination is-right"><!----></nav></div><div class="commits-day"><div class="section-header"><span class="title is-3 is-size-4-mobile placeholder"></span></div><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article><article class="media"><figure class="media-left"><p class="image is-32x32 staff-avatar placeholder"></p></figure><div class="media-content has-text-4"><div class="meta is-size-6"><span class="author-name has-text-weight-bold"><span class="placeholder"></span></span>&nbsp;
                            <span class="placeholder time is-size-7"></span> &nbsp;
                        </div><ul><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li><li class="is-size-7 placeholder"></li></ul></div></article></div>
        
    
    
    
    
    
    </body></html>