<!DOCTYPE html>
<html>





    <title>Information - Physics</title>
 

    <link rel="stylesheet" href="https://angrymoosegames.com/blog/physicssite.css">


    

</head>


    <div id="wrapper">

        

        <div id="header">


            <div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                            <a class="navbar-item logo" href="https://angrymoosegames.com/physics/home"><img src="https://cdn.discordapp.com/attachments/786017730092204062/810593688261754980/physicssmall.png"/></a>

                        <span class="navbar-burger burger" id="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div class="navbar-menu" id="nav-menu">
                        <div class="navbar-start">
                            <!-- navbar items -->
                        </div>

                        <div class="navbar-end">
                                <a ng-repeat="" class="navbar-item " href="https://angrymoosegames.com/blog/blogs">


                                    Blog

                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


                                    Discord

                                </a>
                                <!-- <a ng-repeat="" class="navbar-item " href="">


                                    Steam

                                </a> -->
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div id="content">
            


	<div class="hero is-fullheight has-background has-background-image section-description is-presskit" style="background-image: url('https://cdn.discordapp.com/attachments/787462890592534548/812114072946081822/burger.PNG');">


		<div class="hero-body">
			<div class="container">

					<div class="content logo">
						<img src="https://cdn.discordapp.com/attachments/786017730092204062/812130257569579048/JnyUPCnQ2.png"/>
					</div>

				<div class="content is-large has-justify description">
					<p style="color :white;">I want Physics to be a simple, but powerful sandbox game with a hotloading C# layer. I want newer modders to make stuff easily, and edit and customize the game how they like it. I'd also like to give more expirenced modders a wide range of things to create.</p><br><br>
				</div>
			</div>
		</div>
	</div>