<!DOCTYPE html>
<html lang="en">


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

        <title>Blog/News Physics</title>
        <meta name="og:title" content="Blog/News Physics">
    
    <link rel="icon" href="https://cdn.discordapp.com/attachments/786017730092204062/826859284046282782/JnyUPCnQ2.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.min.css"/>

        <meta name="og:description" content="Physics is in development">
        <meta name="og:image" content="https://cdn.discordapp.com/attachments/786017730092204062/812130257569579048/JnyUPCnQ2.png">

</head>




<!--

 <div id="wrapper">

        

	<div id="header">


		<div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
						<a class="navbar-item logo" href="https://sandbox.facepunch.com/"><img src="https://cdn.discordapp.com/attachments/786017730092204062/838870573710180428/phys_icon_transparent_white.png"/></a>

					<span class="navbar-burger burger" id="nav-toggle">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="navbar-menu" id="nav-menu">
					<div class="navbar-start">
						 navbar items 
					</div>

					<div class="navbar-end">
							<a ng-repeat="" class="navbar-item is-active" href="https://sandbox.facepunch.com/blog/">


								Blog

							</a>
							<a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


								Discord

							</a>
							<a ng-repeat="" class="navbar-item " href="https://store.steampowered.com/app/1559670/Physics/">


								Steam

							</a>
					</div>
				</div>
			</div>

		</div>


	</div>

    
<div class="hero news-header">
	<div class="container">
		<div class="hero-body">
			<div class="columns is-centered">
				<div class="column is-9">
					<div class="title is-3">Blog/News</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="featured-blog-post">
		<div class="featured-entry">
			<a href="https://angrymoosegames.com/physics/news/devblog-4">
					<img src="https://cdn.discordapp.com/attachments/786017730092204062/833366166462005289/20210418103857_1.jpg">
			</a>
		</div>

		<div class="title">
			<a href="https://angrymoosegames.com/physics/news/devblog-4">Dev Blog 4</a>
		</div>

		<div class="date">
			Sunday, April 18, 2021
		</div>

		<div class="featured-summary">
			Gamemodes, UI, and stuff I've been experimenting with
		</div>
	</div>
</div>

	




    
    <div class="footer">
        <div class="container">
            <div class="has-text-centered">
                <a href="https://angrymoosegames.com"><img src="https://cdn.discordapp.com/attachments/786017730092204062/827276425181528064/footer.png" style="width: 60vw; max-width: 400px; margin-top: 2rem;"/></a>
            </div>
        </div>
    </div>
-->
</body>
</html>
