
<!DOCTYPE html>
<html>




    <title>Blog/News - Physics</title>

    <link rel="stylesheet" href="physicssite.css">



    



    

</head>


    <div id="wrapper">

        

        <div id="header">


            <div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                            <a class="navbar-item logo" href="https://angrymoosegames.com/physics/home"><img src="https://media.discordapp.net/attachments/786017730092204062/820756077792460840/physicssmall.png"/></a>

                        <span class="navbar-burger burger" id="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div class="navbar-menu" id="nav-menu">
                        <div class="navbar-start">
                            <!-- navbar-->
                        </div>

                        <div class="navbar-end">
                                <a ng-repeat="" class="navbar-item is-active" href="https://angrymoosegames.com/blog/blogs">


                                    Blog

                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


                                    Discord

                                </a>
                                <!-- <a ng-repeat="" class="navbar-item " href="">


                                    Steam

                                </a> -->
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div id="content">
            



<section class="is-dark hero is-medium has-background has-background-image" style="background-image: url('https://cdn.discordapp.com/attachments/786017730092204062/811758903750426634/bgblog.PNG');">


	<div class="hero-body">
		<div class="container">
			<div class="title">Blog Posts</div>
			<div class="subtitle">Our blog posts</div>
		</div>
	</div>
</section>






<section class="hero">
	<section class="hero-body">
		<div class="container">
			<div class="tile is-ancestor is-vertical">

					<!-- <div class="tile">
							<div class="tile is-parent">
								<div class="hero is-primary tile is-child">
									<a class="hero-body hero-image" style="background-image: url( '' );" href="">
										<div style="position: relative; padding: 16px;">
											<div class="title is-3">
												Devblog 7
											</div>
											<p class="subtitle is-6">
												What we've been working on this month.
											</p>
										</div>
									</a>
								</div>
							</div>
					</div>
					<div class="tile">
							<div class="tile is-parent">
								<div class="hero is-primary tile is-child">
									<a class="hero-body hero-image" style="background-image: url( '' );" href="">
										<div style="position: relative; padding: 16px;">
											<div class="title is-3">
												Devblog 6
											</div>
											<p class="subtitle is-6">
												What we've been working on this month.
											</p>
										</div>
									</a>
								</div>
							</div>
							<div class="tile is-parent">
								<div class="hero is-primary tile is-child">
									<a class="hero-body hero-image" style="background-image: url( '' );" href="">
										<div style="position: relative; padding: 16px;">
											<div class="title is-3">
												Dev Blog 5
											</div>
											<p class="subtitle is-6">
												What we've been working on this month.
											</p>
										</div>
									</a>
								</div>
							</div>
					</div>
					<div class="tile">
							<div class="tile is-parent">
								<div class="hero is-primary tile is-child">
									<a class="hero-body hero-image" style="background-image: url( '' );" href="">
										<div style="position: relative; padding: 16px;">
											<div class="title is-3">
												Dev Blog 4
											</div>
											<p class="subtitle is-6">
												What we've been working on this month
											</p>
										</div>
									</a>
								</div>
							</div> -->
							<div class="tile is-parent">
								<div class="hero is-primary tile is-child">
									<a class="hero-body hero-image" style="background-image: url( 'https://cdn.discordapp.com/attachments/786017730092204062/826257345113358366/datacore.PNG' );" href="https://angrymoosegames.com/blog/devblog2">">
										<div style="position: relative; padding: 16px;">
											<div class="title is-3">
												Dev Blog 2 - Importing Assets
											</div>
											<p class="subtitle is-6">
												My goals with importing maps, models, and textures
											</p>
										</div>
									</a>
								</div>
							</div> 
					</div>
					<div class="tile">
							<div class="tile is-parent">
								<div class="hero is-primary tile is-child">
									<a class="hero-body hero-image" style="background-image: url( 'https://cdn.discordapp.com/attachments/786017730092204062/811618081784856596/code.PNG' );" href="https://angrymoosegames.com/blog/devblog1">
										<div style="position: relative; padding: 16px;">
											<div class="title is-3">
												Dev Blog 1 - C#
											</div>
											<p class="subtitle is-6">
												How modders can create gamemodes in C#
											</p>
										</div>
									</a>
								</div>
							</div>
							
									</a>
								</div>
							</div>
					</div>

			</div>
		</div>
	</section>
</section>


        </div>
        
        <script>
            var forum = new Vue( { el: '#content' } );
        </script>



        

    </div>



    <script>
        PageEnd();
    </script>

</body>
</html>
