<!DOCTYPE html>
<html>





    <title>Dev Blog 1 - C# - Physics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, viewport-fit=cover, user-scalable=no">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Physics">
    <meta property="og:locale" content="en_US"/>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/786017730092204062/826256765640376330/JnyUPCnQ2.png">
            <meta name="description" content="How modders will create gamemodes in C#">
        <meta property="og:description" content="How modders will create gamemodes in C#">
    <meta property="og:title" content="Devblog 1 - Physics">
        <meta property="og:image" content="https://media.discordapp.net/attachments/786014512637673515/824014218202054656/explosion.PNG">


    <link rel="stylesheet" href="physicssite.css">



    

</head>


    <div id="wrapper">

        

        <div id="header">


            <div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                            <a class="navbar-item logo" href="https://angrymoosegames.com/physics/home"><img src="https://media.discordapp.net/attachments/786017730092204062/820756077792460840/physicssmall.png"/></a>

                        <span class="navbar-burger burger" id="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div class="navbar-menu" id="nav-menu">
                        <div class="navbar-start">
                            <!-- navbar-->
                        </div>

                        <div class="navbar-end">
                                <a ng-repeat="" class="navbar-item is-active" href="https://angrymoosegames.com/blog/blogs">


                                    Blog

                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


                                    Discord

                                </a>
                                <!-- <a ng-repeat="" class="navbar-item " href="">


                                    Steam

                                </a> -->
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div id="content">
            


    <section class="hero is-fullheight is-dark  has-background has-background-image" style="background-image: url('https://media.discordapp.net/attachments/786014512637673515/824014218202054656/explosion.PNG');">


        <div class="hero-body">
            <div class="container">
                <div class="title is-1">
                    Dev Blog 1 - C#
                </div>
                <div class="subtitle">
                    <p>
                        How modders will be able to create gamemodes in Physics using C#
                    </p>
                    <p class="is-size-7">
                        <i class=""></i>
                        Feburary 17, 2021

                            
                                by <strong><a href="https://angrymoosegames.com">Cooper J.</a></strong>
                            

                            

                            

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="section blogentry" id="My Goals">
        <div class="container content">
            <div class="title"><a href="#Goal">My Goals</a></div>
            <p>I don't want making addons and gamemodes to be a pain. I want you to be able to make a simple C# script, load it in, and play it</a>.</p>

<p>Here are my goals</p>

<ul>

    <li>Load new code at runtime, loads in quickly</li>

    <li>Hotloads code while playing</li>

    <li>Easy to learn and start scripting</li>

    <li>You don't have to install anything other than the base game (no SDks)</li>

</ul>
        </div>
    </section>
    <section class="section blogentry" id="Implementation">
        <div class="container content">
            <div class="title"><a href="#Implementation">Implementation</a></div>
            <p>Please note most of this code is spaghetti, I'm still testing it.</p>

<p>How were implementing this is pretty straight forwart right now. There's a World class, a Gamemode class, and some Entity classes.</p>

<p>Here's some example code from the<a href="https://github.com/AngryMooseGames/phys-testgamemode"> github repo.</a></p>


<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/811718980095836190/codesnippet.PNG" width="512"></center>

<p>It's creating the health, killfeed, and crossair. After that it adds the UI components to your game.</p>
        </div>
    </section>
    <section class="section blogentry" id="Network_Functions">
        <div class="container content">
            <div class="title"><a href="#Network_Functions">Network/client functions</a></div>
            <p>There's a [Server] attribute on functions, which means that it runs always on the server. It can be called by the client. Here's an example.</p>


<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/811755505801625652/codesnippetanother.PNG" width="512"></center>


        </div>

    <section class="section blogentry" id="Console">
        <div class="container content">
            <div class="title"><a href="#Console">Console</a></div>
            <p>In the last blog post I talked a bit about how I wanted a console in-game. I started working on it and I'm about 50% done.</p>

<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/811718214744277023/devcondark.PNG"></center>

<p>This page gives you info for the gamemode. On the left is the gamemode json file, on the right is the stuff in the gamemode (or just currently open ingame). You can refresh to see any changes you've made.</p>

<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/811718531213033512/devconmain.PNG"></center>

<p>Here's the main console window. You can enter commands, and eventually see logs. The only commands so far are input, which displays the keybind info, and map [mapname], which loads a map. I don't want custom commands, as I fear that might mess up the game for some players. But it might happen someday.</p>
        </div>
    </section>
    <section class="section blogentry" id="Runtime">
        <div class="container content">
            <div class="title"><a href="#Runtime">Wrapping up</a></div>
            <p>I hope you learned a bit more about how you can make gamemodes in C#, and you're excited to start modding! I made a <a href="https://coopbjax.gitbook.io/physics/"> wiki,</a> feel free to check it out. I'll add more to it as I add more stuff, and implement more.</p>


<p>Cya.</p>
        </div>
    </section>


  

            



		</div>
	</div>


</article>

        </div>
    </section>







        </div>
        
        <script>
            var forum = new Vue( { el: '#content' } );
        </script>

  

        

    </div>



    <script>
        PageEnd();
    </script>

</body>
</html>


