<!DOCTYPE html>
<html>





    <title>Dev Blog 2 - Importing Assets - Physics</title>


    <link rel="stylesheet" href="https://raw.githubusercontent.com/AngryMooseGames/website/master/blog/physicssite.css">
    




    

</head>


    <div id="wrapper">

        

        <div id="header">


            <div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                            <a class="navbar-item logo" href="https://angrymoosegames.com/physics/home"><img src="https://cdn.discordapp.com/attachments/786017730092204062/810593688261754980/physicssmall.png"/></a>

                        <span class="navbar-burger burger" id="nav-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div class="navbar-menu" id="nav-menu">
                        <div class="navbar-start">
                            <!-- navbar-->
                        </div>

                        <div class="navbar-end">
                                <a ng-repeat="" class="navbar-item is-active" href="https://angrymoosegames.com/blog/blogs">


                                    Blog

                                </a>
                                <a ng-repeat="" class="navbar-item " href="https://discord.gg/5pfeUnWy7n">


                                    Discord

                                </a>
                                <!-- <a ng-repeat="" class="navbar-item " href="">


                                    Steam

                                </a> -->
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div id="content">
            


    <section class="hero is-fullheight is-dark  has-background has-background-image" style="background-image: url('https://cdn.discordapp.com/attachments/786014512637673515/813776087980048384/Screenshot_2021-02-22_193531.png');">


        <div class="hero-body">
            <div class="container">
                <div class="title is-1">
                    Dev Blog 2 - Importing Assets
                </div>
                <div class="subtitle">
                    <p>
                        My goals with importing maps, models, and textures
                    </p>
                    <p class="is-size-7">
                        <i class=""></i>
                        March  5, 2021

                            
                                by <strong><a href="https://angrymoosegames.com">Cooper J.</a></strong>
                            

                            

                            

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="section blogentry" id="Importers">
        <div class="container content">
            <div class="title"><a href="#Importers">Importers</a></div>
            <p>You (most likely) will be able to write your own importers. I want to keep the base importers open source, so people can check them out and make their own</a>.</p>

<p>I don't want to create a custom file format, since that would be tougher to import files with. You can import the usual file types: bsp, fbx, obj, and mdl.</p>

<p>Here's some code from the example bsp importer</p>

<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/817177755295940628/importer.PNG" width="512"></center>

<p>And now we can load Source maps.</p>

<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/817184970363502622/texture.PNG" width="512"></center>

<p>This is part of a basic WIP texture importer, as you can tell it's simpler than the maps. The one problem right now is that you have to manually turn the textures (vtf in my case) into png to make it import.</p>

<center><img src="https://cdn.discordapp.com/attachments/786017730092204062/816451071719112714/hl.PNG" width="1024"></center>

<p>I don't want to use any Source assets in the full release, I just like playing around with the maps, since HL and HL2 have a large amount of maps and models to test with.</p>

<center><img src="https://cdn.discordapp.com/attachments/787462890592534548/816457926041403402/bounce.png" width="1024"></center>

        </div>

  </section>


    <section class="section blogentry" id="Goal">
        <div class="container content">
            <div class="title"><a href="#Goal">The Goal</a></div>
            <p>My goal, which is a stupid one, is to have a good base importer, and allow people to make their own importers and share them, and have a bunch of different importers so people who don't know how to program can just load a script somebody made, import stuff onto their game, then play it with their friends</a>.</p>


</article>

        </div>
    </section>







        </div>
        
        <script>
            var forum = new Vue( { el: '#content' } );
        </script>

  

        

    </div>



    <script>
        PageEnd();
    </script>

</body>
</html>
